# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\CAMPUS\E18_5th_Semester\EC5080- Software Construction\Labs\Lab_05\L5_2018_E_102\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
